:root {
    --main-bg-color: #000000;
    --main-font: 'Courier New', Courier, monospace;
    --main-color: rgb(5, 212, 5);
    --button-color: aqua;
    --button-hover-color: lightblue;
    --button-active-color: cyan;
   }
   
   body {
    background: url("/images/tux.png") center center no-repeat fixed;
    background-size: contain;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 1rem;
   }
   
   .user-name {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    color: var(--main-color);
    text-align: center;
 }
   
   .button-bar{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px; 
   }
   
   .task-button {
    color: green;
    background-color: var(--button-color);
    border: none;
    padding: 10px 20px;
    font-family: var(--main-font);
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
   }
   
   .task-button:hover {
    background-color: var(--button-hover-color);
    opacity: 0.9;
   }
   
   .task-button:active {
    background-color: var(--button-active-color);
   }