body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color : white;
    background-color: black;
    background-image: url("/images/tux.png");
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

input[type="text"][readonly] {
    background-color: #f5f5f5;
    cursor: not-allowed;
}