body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .input-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  #submitButton,
  #checkButton {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  #submitButton {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  #checkButton {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  #submitButton:hover,
  #checkButton:hover {
    opacity: 0.8;
  }
  
  #resultLabel {
    margin-top: 20px;
    font-size: 18px;
  }
  